#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 > #backgroundBox {
  background-color: #F6F7F8;
  position: absolute;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 > #alignmentBox {
  position: relative;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 {
  position: absolute;
  width: 1440.0px;
  min-height: 975.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 {
  position: absolute;
  width: 258.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #BB86FC;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 > .borderLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Union_2 {
  position: absolute;
  width: 17.464614868164062px;
  height: 16.775001525878906px;
  cursor: pointer;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 {
  position: absolute;
  width: 255.0px;
  min-height: 984.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(4.0px 4.898587196589413E-16px 4px rgba(42,45,54,0.01));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Union_8 {
  position: absolute;
  width: 22.0771484375px;
  height: 22.77423095703125px;
  cursor: pointer;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_94 {
  position: absolute;
  width: 160.74925816023756px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_94 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_94 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_94 span {
  color: #E1F4FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_94 span#rtr-s-Paragraph_94_0 {
  color: #E1F4FF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Union_7 {
  position: absolute;
  width: 19.3175048828125px;
  height: 19.884735107421875px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_91 {
  position: absolute;
  width: 160.74925816023756px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_91 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_91 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_91 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_91 span#rtr-s-Paragraph_91_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Union_4 {
  position: absolute;
  width: 22.0771484375px;
  height: 22.725418090820312px;
  cursor: pointer;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_88 {
  position: absolute;
  width: 160.74925816023756px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_88 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_88 span {
  color: #E1F4FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_88 span#rtr-s-Paragraph_88_0 {
  color: #E1F4FF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_2 {
  width: 255.00000000000006px;
  height: 100.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Path_1 {
  position: absolute;
  width: 30.392879486083984px;
  height: 40.68555450439453px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_8 {
  position: absolute;
  width: 122.38130563798245px;
  min-height: 35.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 {
  position: absolute;
  width: 1185.0px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-3.6739403974420594E-16px 6.0px 8px rgba(127,118,159,0.15));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid {
  position: absolute;
  width: 829.0px;
  height: 321.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 5px #FFFFFF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid > .borderLayer > .paddingLayer > table {
  padding-left: 5px;
  padding-top: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell {
  cursor: pointer;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Grid_cell > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_1 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 input::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 input::-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 input:-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 input:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 {
  position: absolute;
  width: 225.0px;
  height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 .valign {
  vertical-align: middle;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_2 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 input::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 input::-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 input:-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 input:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 {
  position: absolute;
  width: 187.50000000000028px;
  height: 76.88878821553084px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 .valign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Image {
  position: absolute;
  width: 94.99999999999983px;
  height: 113.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_1 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_1 input {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  min-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_1 .icon {
  top: 2.0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_10 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_11 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_2 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_2 input {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  min-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_2 .icon {
  top: 2.0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_3 {
  position: absolute;
  width: 122.00000000000023px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_3 input {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  min-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Input_3 .icon {
  top: 5.5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_12 span {
  color: #BB86FC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #BB86FC;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Data_Grid .s-Image_1 {
  position: absolute;
  width: 43.0px;
  height: 43.44215938303353px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Malgun Gothic',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Malgun Gothic',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Malgun Gothic',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_1 {
  width: 378.5px;
  height: 409.99999999999966px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 {
  position: absolute;
  width: 121.00000000000023px;
  min-height: 55.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_5 {
  position: absolute;
  width: 53.015625px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Required-input {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel {
  width: 68.95227873183626%;
  height: 67.00000000000006px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 input::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 input::-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 input:-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 input:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 {
  position: absolute;
  width: 100.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 .valign {
  vertical-align: middle;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_9 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 > .backgroundLayer > .colorLayer {
  background-color: #757575;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_15 span#rtr-s-Line_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 {
  position: absolute;
  width: 100.0%;
  min-height: 2.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_16 span#rtr-s-Line_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_6 span {
  color: #CF6679;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #CF6679;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Image_154 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Required-input_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel_1 {
  width: 68.95227873183639%;
  height: 66.99999999999994px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Content_panel_1 .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 textarea::-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 textarea:-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 textarea:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 {
  position: absolute;
  width: 100.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 textarea {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_10 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 {
  position: absolute;
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 > .backgroundLayer > .colorLayer {
  background-color: #757575;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_17 span#rtr-s-Line_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 {
  position: absolute;
  width: 100.0%;
  min-height: 2.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Line_18 span#rtr-s-Line_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_7 span {
  color: #CF6679;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #CF6679;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Image_155 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 {
  position: absolute;
  width: calc(214.0px - 71px);
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Image_6 {
  position: absolute;
  width: 25.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_search {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel {
  width: 57.91666666666666%;
  height: 43.99999999999994px;
  filter:  drop-shadow(-0.0174524064372836px 0.9998476951563913px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel > .backgroundLayer {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel > .backgroundLayer {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel td.layout {
  padding: 1px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Components_panel .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 input::-webkit-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 input::-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 input:-moz-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 input:-ms-input-placeholder {
  color: #FFFFFF;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 {
  position: absolute;
  width: 100.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  filter:  drop-shadow(-0.0174524064372836px 0.9998476951563913px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 .valign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 input {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Input_4 .paddingLayer:first-child {
  padding-top: 13px;
  padding-right: 51px;
  padding-bottom: 0px;
  padding-left: 40px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-search {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 {
  width: 389.2500000000001px;
  height: 100.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 > .backgroundLayer > .colorLayer {
  background-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #121212;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #121212;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #121212;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #121212;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Dubai',Arial;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Dubai',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e41d8254-1ecf-4fd5-866e-de70b7afc9a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
